@import url("https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap");

:root {
  --bg-primary: #f8f8f8;
  --bg-secondary: #f5f1f1;
  --accent: #c43535;
  --fg: #111111;
}

*,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 1pt solid var(--accent);
  outline-offset: 1.5pt;
}

body {
  font-family: "Libertinus Mono", monospace;
  background-color: var(--bg-primary);
  color: var(--fg);

  height: 100dvh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 0.95rem;
}

nav {
  flex: 1;
  max-width: 250px;
  background-color: var(--bg-secondary);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
  height: 100%;
  border-right: var(--accent) 1pt solid;
}

#nav-title {
  margin-bottom: auto;
}

noscript {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--accent);
  color: var(--bg-primary);
  text-align: center;
  display: flex;
  place-items: center;
  z-index: 10000;
}

main {
  flex: 4;

  height: 100%;

  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-y: auto;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:focus {
  outline: 1pt solid var(--accent);
  outline-offset: 1.5pt;
}

p {
  width: 50%;
  line-height: 1.3;
}

video {
  width: 50%;
  min-width: 300px;
  margin: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 30px;
  width: 50%;
}

#form-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#form-header input {
  flex: 1 3;
  max-width: 65%;
}

#form-header select {
  /* flex: 1 0; */
  font-family: "Libertinus Mono", monospace;
  width: min-content;
}

select,
::picker(select) {
  border-radius: 0;
  border: 1pt solid var(--fg);
}

form textarea {
  width: 100%;
  background-color: var(--bg-primary);
}

input,
textarea {
  font-family: "Libertinus Mono", monospace;
  position: relative;
  font-size: 1em;
  padding: 0.5em;
  border: 1pt solid var(--accent);
  border-radius: 0;
}

input {
  width: 400px;
  max-width: 70%;
  height: 2rem;
  background-color: #fcfcfc;
}

textarea {
  margin: 0.5em;
  background-color: var(--bg-primary);
  resize: none;
  max-width: 90vw;
}

input:focus,
textarea:focus {
  outline: 1pt solid var(--accent);
  outline-offset: 1.5pt;
}

button {
  font-family: "Libertinus Mono", monospace;
  font-size: 1em;
  padding: 0.5em;
  margin: 0.5em;
  background-color: var(--accent);
  color: var(--bg-primary);
  border: 1pt solid var(--accent);
  cursor: pointer;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  user-select: none;
}

button:hover {
  background-color: var(--bg-primary);
  color: var(--accent);
}

button:focus {
  outline: 1pt solid var(--accent);
  outline-offset: 1.5pt;
}

#albums-container {
  display: grid;
  width: 70%;
  margin-top: 3em;
  gap: 3em;
  row-gap: 70px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
}

#albums-container a {
  display: block;
}

#connection-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    315deg,
    var(--accent) 0,
    var(--accent) 1pt,
    transparent 0,
    transparent 50%
  );
  background-size: 15px 15px;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 15px 0px;
  }
}

#message-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-secondary);
  border-top: var(--accent) 1pt solid;
}

#message-input {
  position: relative;
  width: 100%;
}

#send-button {
  position: relative;
  z-index: 4;
}

#nav-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

#nav-title h1 {
  text-align: end;
  text-shadow: 1pt 1pt 0pt var(--accent);
  line-height: 1em;
  margin: 0;
}

#nav-links {
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#nav-links span {
  display: none;
}

#userslug-container {
  font-size: 0.85em;
  color: #aaa;
  text-align: left;
  align-self: flex-start;
  margin-bottom: 1rem;
}

#userslug {
  color: var(--accent);
  text-shadow: 1px 1px 0px var(--fg);
  animation: blink 0.5s step-start infinite alternate;
  cursor: copy;
}

#messages-container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  overflow-wrap: anywhere;
  display: flex;
  flex-direction: column;
}

.message {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  min-height: 2rem;
  max-height: none;
  padding: 0.5em;
}

.message.system {
  justify-content: center;
  text-align: center;
  z-index: 1000;
  background-color: var(--bg-secondary);
  border-bottom: var(--accent) 1pt solid;
}

.message-sender {
  color: #aaa;
  width: max-content;
  align-self: flex-start;
}

.message.sent {
  background-color: #f0f0f0;
  color: #888;
}

.message-text {
  flex: 1;
}

.message-text.received {
  background-color: var(--bg-primary);
}

.message-text.system {
  color: var(--accent);
}

footer {
  position: absolute;
  bottom: 0;
  right: -1px; /* i don't know why but with 0, it starts off that one pixel to the left lul. the red border gets doubled and it looks ugly */
  background-color: var(--bg-primary);
  color: var(--accent);
  border: var(--accent) solid 1pt;
  padding: 2px 5px;
  font-size: 0.8rem;
  cursor: move;
  user-select: none;
  z-index: 1001;
  display: none;
  opacity: 0;
  text-align: center;
  margin: 0;
}

footer.visible {
  display: block;
  animation: showButton 0.3s step-start forwards;
}

#toggle-button-wrapper {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  margin-top: -1rem;
}

#toggle-button-wrapper, #toggle-button-wrapper * {
  touch-action: none;
}

#toggle-button-wrapper.visible {
  animation: showButton 0.3s step-start forwards;
}

@keyframes showButton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#toggle-sidebar-button {
  margin: 0;
  cursor: pointer;
}

#drag-handle {
  font-size: 0.7rem;
  /* cursor: move; */
  background-color: var(--bg-primary);
  color: var(--accent);
  border: var(--accent) solid 1pt;
  padding: 2pt 3pt;
  opacity: 0;
  user-select: none;
  margin: 0;
  margin-right: 3.2pt;
}

#toggle-button-wrapper:hover #drag-handle {
  opacity: 1;
}

*:disabled {
  cursor: not-allowed;
  position: relative;
}

*:disabled::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: repeating-linear-gradient(
    315deg,
    var(--accent) 0,
    var(--accent) 1pt,
    transparent 0,
    transparent 50%
  );
  border-radius: 0px; /* a little rounded for no reason on safari, i think this fixes that */
  background-size: 15px 15px;
  background-color: var(--bg-primary);
  animation: move 2s linear infinite;
  z-index: 2000;
}

textarea:disabled {
  background-image: repeating-linear-gradient(
    315deg,
    var(--accent) 0,
    var(--accent) 1pt,
    transparent 0,
    transparent 50%
  );
  background-size: 15px 15px;
  background-color: var(--bg-primary);
  animation: move 2s linear infinite;
}

@keyframes blink {
  50% {
    color: var(--fg);
    text-shadow: 1px 1px 0px var(--accent);
  }
}

@media screen and (max-width: 875px) {
  body {
    flex-direction: column;
    align-items: stretch;
  }

  nav {
    justify-content: space-between;
    padding: 0.5em;
    flex: 0;
    border-right: none;
    border-bottom: var(--accent) 1pt solid;
    max-width: unset;
  }

  main {
    height: unset;
  }

  p {
    width: 80%;
  }

  #nav-links {
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }

  #nav-links span {
    display: inline;
  }

  #toggle-button-wrapper {
    top: 0;
    left: 50%;
    margin-left: unset;
    margin-left: -70px;
  }

  .drag-handle {
    opacity: 1;
    margin-bottom: 3px;
  }

  footer {
    bottom: unset;
    right: unset;
    top: 0;
    left: 0;
    margin-top: -1px;
  }

  #userslug-container {
    margin-bottom: 0;
  }

  main {
    border-left: none;
  }

  form {
    width: 80%;
  }
}
