body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-variant-numeric: normal;
  align-items: center;
}

#stopwatch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Alegreya Sans", sans-serif;
  gap: 15px;
}

#stopwatch-container button {
  font-family: "Alegreya Sans", sans-serif;
  font-variant-numeric: normal;
  background-color: inherit;
  border: 1pt solid #bbb;
  padding: 3px 6px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

#stopwatch-container button:active,
#stopwatch-container button:disabled {
  background-color: #ddd;
}

#display {
  width: 120px;
  background-color: #ddd;
  border: 1pt solid #bbb;
  color: #222;
  text-align: center;
  font-variant-numeric: tabular-nums;
}
